h1 {
    text-align: center;
    font-family: 'Chilanka', cursive;
}

img {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 30%;
}

.img {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

#error {
    color: red;
}

.hidden {
    display: none;
}

input[type=radio]:checked + img {
    border: 5px solid black;
}

body {
    background-color: #93A8AC;
    text-align: center;
    font-family: 'Chilanka', cursive;
}

button {
    font-family: 'Chilanka', cursive;
    background-color: #FAC8CD;
}